<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="stylesheets/display/Index.css" rel="stylesheet" />
</head>
<body>
    <div class="Content" style="width:1024px; margin:auto;">
        <div class="logo">
            <img src="images/display/Logo.png" />
            <span>廊坊鑫诺过滤器材有限公司</span>
        </div>
        <div class="Navigation">
            <ul>
                <li>
                    <label>首页</label>
                    <label>|</label>
                </li>
                <li>
                    <label>公司简介</label>
                    <label>|</label>
                </li>
                <li>
                    <label>产品展示</label>
                    <label>|</label>
                </li>
                <li>
                    <label>新闻资讯</label>
                    <label>|</label>
                </li>
                <li>
                    <label>联系我们</label>
                </li>
            </ul>
        </div>
        <div class="banner">
            <img src="images/display/banner1.png" />
        </div>
        <div class="MainContent">
            <table>
                <tr>
                    <td style="vertical-align:top;" class=" left">
                        <div class="ProductDisplay">
                            <div class="title">
                                <img src="images/display/Ptitle.png" />
                            </div>
                            <div class="PTypeList">
                                <ul>
                                    <li>空气滤芯</li>
                                    <li>气体过滤器</li>
                                    <li>精密油过滤</li>
                                    <li>除尘等过滤器</li>
                                    <li>空气滤芯</li>
                                    <li>气体过滤器</li>
                                    <li>精密油过滤</li>
                                    <li>除尘等过滤器</li>
                                    <li>精密油过滤</li>
                                    <li>除尘等过滤器</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ContactUs">
                            <div class="ContactUsTiele">联系我们</div>
                            <div>
                                <ul>
                                    <li>联系人：齐东奎</li>
                                    <li>手&nbsp;&nbsp;&nbsp;&nbsp;机：13785475636</li>
                                    <li>电&nbsp;&nbsp;&nbsp;&nbsp;话：0316-5923376</li>
                                    <li>地&nbsp;&nbsp;&nbsp;&nbsp;址：河北省廊坊市固安县固安县林城开发区</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align:top;padding:0px 30px;">
                        <div class="CompanyIntroduction" style="height:auto; font-size:0px; border-bottom:#c7e1f8 solid 1px;">
                            <img style="margin:0px;padding:0px;border:none;" src="Images/Ico_alout.png" />
                        </div>
                        <div style="margin-top:20px;clear:both;">
                            <img src="images/display/IcoTempImage.png" style="float:left;height:80px;width:80px;" />
                            <span style="font-size:16px;">
                                固安县鑫诺过滤器材有限公司专业生产液压滤芯，空气滤芯、气体过滤器、精密油过滤器、粉尘回收、除尘等过滤器生产的企业。产品种类数千种，主要用于、交通、石油、炼油、化工、电厂、钢铁厂、水泥、环保、冶金、煤炭、矿山、制药、食品、啤酒等行业。 　　主要产品：空气除尘滤芯（滤筒）、粉尘回收滤芯，空压机空气过滤器、油滤芯、油气分离滤芯、油水分离器，液压、气动滤芯，大型空分自洁式空气过滤器、收割机.风机进风口滤芯，燃气轮机组空气滤芯、燃油滤芯，天然气管道过滤器，搅拌站用防尘处理机。滤油机油过滤器、磨煤机油滤芯、不锈钢过滤器，矿山重型汽车、工程机械用空气滤芯、机油滤芯、柴油滤芯、液压油滤芯、水滤芯等。
                            </span>
                        </div>
                        <div class="CompanyIntroduction" style="height:auto; clear:both; margin-top:20px; font-size:0px; border-bottom:#c7e1f8 solid 1px;">
                            <img style="margin:0px;padding:0px;border:none;" src="Images/Ico_Products.png" />
                        </div>
                        <div>
                            <ul style="margin:0px;padding:0px;">
                                <li style="margin:10px; cursor:pointer; background-color:#ebf1f6;padding:10px;display:inline-block;">
                                    <div style="width:140px;height:140px;">
                                        <img style="width:100%;height:100%;" src="ProductPicture/P001.png" />
                                    </div>
                                    <div style="width:100%;text-align:center;color:#00325f;margin-top:5px;">测试产品名称</div>
                                </li>
                                <li style="margin:10px; cursor:pointer; background-color:#ebf1f6;padding:10px;display:inline-block;">
                                    <div style="width:140px;height:140px;">
                                        <img style="width:100%;height:100%;" src="ProductPicture/P001.png" />
                                    </div>
                                    <div style="width:100%;text-align:center;color:#00325f;margin-top:5px;">测试产品名称</div>
                                </li>
                                <li style="margin:10px;cursor:pointer; background-color:#ebf1f6;padding:10px;display:inline-block;">
                                    <div style="width:140px;height:140px;">
                                        <img style="width:100%;height:100%;" src="ProductPicture/P001.png" />
                                    </div>
                                    <div style="width:100%;text-align:center;color:#00325f;margin-top:5px;">测试产品名称</div>
                                </li>
                                <li style="margin:10px;cursor:pointer; background-color:#ebf1f6;padding:10px;display:inline-block;">
                                    <div style="width:140px;height:140px;">
                                        <img style="width:100%;height:100%;" src="ProductPicture/P001.png" />
                                    </div>
                                    <div style="width:100%;text-align:center;color:#00325f;margin-top:5px;">测试产品名称</div>
                                </li>
                                <li style="margin:10px;cursor:pointer; background-color:#ebf1f6;padding:10px;display:inline-block;">
                                    <div style="width:140px;height:140px;">
                                        <img style="width:100%;height:100%;" src="ProductPicture/P001.png" />
                                    </div>
                                    <div style="width:100%;text-align:center;color:#00325f;margin-top:5px;">测试产品名称</div>
                                </li>
                                <li style="margin:10px;cursor:pointer; background-color:#ebf1f6;padding:10px;display:inline-block;">
                                    <div style="width:140px;height:140px;">
                                        <img style="width:100%;height:100%;" src="ProductPicture/P001.png" />
                                    </div>
                                    <div style="width:100%;text-align:center;color:#00325f;margin-top:5px;">测试产品名称</div>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="foot" style="width:100%;text-align:center;">
            <p>
                版权所有
                <label>•</label>
                廊坊鑫诺过滤器材有限公司
            </p>
            <p>
                电话：0316-5923376&nbsp;&nbsp;&nbsp;13785475636&nbsp;&nbsp;&nbsp;地址：河北省廊坊市固安县固安县林城开发区
            </p>
        </div>
    </div>
    <% include _script.html %>
    <script type="text/javascript" src="javascripts/display/index.js"></script>
    </body>
</body>
</html>