<html>
<head>
	<script src="threeScript/Jquery/jquery-1.12.3.min.js"></script>
	<script src="threeScript/bootstrap/bootstrap.js"></script>
	<script src="threeScript/Knockout/knockout-3.1.0.js"></script>
	<script src="threeScript/Knockout/Knockout-Mapping.js"></script>
	<script src="threeScript/Knockout/Knockout-Mapping.js"></script>
	<script src="threeScript/fileupload/vendor/jquery.ui.widget.js"></script>
	<script src="threeScript/fileupload/jquery.iframe-transport.js"></script>
	<script src="threeScript/fileupload/jquery.fileupload.js"></script>
</head>
	<bod></bod>
</html>