<html>
<head>
	<!-- jQuery -->
	<script src="../threeScript/Jquery/jquery-1.12.3.min.js"></script>

	<!-- 前端bootstrap框架 -->
	<script src="../threeScript/bootstrap/bootstrap.js"></script>

	<!-- knockout MVVM 双向绑定 -->
	<script src="../threeScript/Knockout/knockout-3.1.0.js"></script>
	<script src="../threeScript/Knockout/Knockout-Mapping.js"></script>
	<script src="../threeScript/Knockout/Knockout-Mapping.js"></script>

	<!-- ajax文件上传（暂时未实现功能） -->
	<script src="../threeScript/fileupload/vendor/jquery.ui.widget.js"></script>
	<script src="../threeScript/fileupload/jquery.iframe-transport.js"></script>
	<script src="../threeScript/fileupload/jquery.fileupload.js"></script>

	<!-- 富文本编辑器 -->
	<script src="../threeScript/ueditor/ueditor.config.js"></script>
	<script src="../threeScript/ueditor/ueditor.all.js"></script>
	<script src="../threeScript/ueditor/lang/zh-cn/zh-cn.js"></script>

	<script type="text/javascript">  
		//需要通过子路径进行匹配！！！
    	$("[href='"+window.location.pathname+"']").parent().addClass('active');    
    </script>

</head>
	<bod></bod>
</html>