  <% include ../_css.html %>  
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CMS 0.1</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/admin">首页</a>
          </li>
          <li>
            <a href="/admin/enterpris">企业信息管理</a>
          </li>
          <li>
            <a href="/admin/product">产品信息管理</a>
          </li>
          <li>
            <a href="/admin/NewsManagement">新闻管理</a>
          </li>
          <li>
            <a href="/admin/FocusMap">焦点图管理</a>
          </li>
          <li>
            <a href="/admin/connection">联系方式管理</a>
          </li>
          <li>
            <a href="/admin/echart">echart 图表</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>