<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CMS</title>
</head>
<body style="margin-top:80px; ">
  <% include ../parts/_navigation.html %>
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      connection
    </div>
  </div>
  <% include ../parts/_foot.html %>
  <% include ../_script.html %>
  <script type="text/javascript" src="javascripts/connection/index.js"></script>
</body>
</html>